process { withName: 'ALIGN_BAM' { container = 'community.wave.seqera.io/library/fgbio_bwa_samtools:04bc9788bca8242c' } }
process { withName: 'FASTQC' { container = 'community.wave.seqera.io/library/fastqc:0.12.1--5cb1a2fa2f18c7c2' } }
process { withName: 'FGBIO_CALLANDFILTERDUPLEXCONSENSUSREADS' { container = 'community.wave.seqera.io/library/fgbio:2.5.21--368dab1b4f308243' } }
process { withName: 'FGBIO_CALLANDFILTERMOLECULARCONSENSUSREADS' { container = 'community.wave.seqera.io/library/fgbio:2.5.21--368dab1b4f308243' } }
process { withName: 'FGBIO_CALLDDUPLEXCONSENSUSREADS' { container = 'community.wave.seqera.io/library/fgbio:2.5.21--368dab1b4f308243' } }
process { withName: 'FGBIO_CALLMOLECULARCONSENSUSREADS' { container = 'community.wave.seqera.io/library/fgbio:2.5.21--368dab1b4f308243' } }
process { withName: 'FGBIO_COLLECTDUPLEXSEQMETRICS' { container = 'community.wave.seqera.io/library/fgbio:2.5.21--368dab1b4f308243' } }
process { withName: 'FGBIO_CORRECTUMIS' { container = 'community.wave.seqera.io/library/fgbio:2.5.21--368dab1b4f308243' } }
process { withName: 'FGBIO_FASTQTOBAM' { container = 'community.wave.seqera.io/library/fgbio:2.5.21--368dab1b4f308243' } }
process { withName: 'FGBIO_FILTERCONSENSUSREADS' { container = 'community.wave.seqera.io/library/fgbio_samtools:4f7e98e5f90057a3' } }
process { withName: 'FGBIO_GROUPREADSBYUMI' { container = 'community.wave.seqera.io/library/fgbio:2.5.21--368dab1b4f308243' } }
process { withName: 'MULTIQC' { container = 'community.wave.seqera.io/library/multiqc:1.35--c17fb751507e9dfc' } }
