process { withName: 'ALIGN_BAM' { container = 'oras://community.wave.seqera.io/library/fgbio_bwa_samtools:ee569c458f161e6b' } }
process { withName: 'FASTQC' { container = 'oras://community.wave.seqera.io/library/fastqc:0.12.1--5c4bd442468d75dd' } }
process { withName: 'FGBIO_CALLANDFILTERDUPLEXCONSENSUSREADS' { container = 'oras://community.wave.seqera.io/library/fgbio:2.5.21--1afc8befe439164b' } }
process { withName: 'FGBIO_CALLANDFILTERMOLECULARCONSENSUSREADS' { container = 'oras://community.wave.seqera.io/library/fgbio:2.5.21--1afc8befe439164b' } }
process { withName: 'FGBIO_CALLDDUPLEXCONSENSUSREADS' { container = 'oras://community.wave.seqera.io/library/fgbio:2.5.21--1afc8befe439164b' } }
process { withName: 'FGBIO_CALLMOLECULARCONSENSUSREADS' { container = 'oras://community.wave.seqera.io/library/fgbio:2.5.21--1afc8befe439164b' } }
process { withName: 'FGBIO_COLLECTDUPLEXSEQMETRICS' { container = 'oras://community.wave.seqera.io/library/fgbio:2.5.21--1afc8befe439164b' } }
process { withName: 'FGBIO_CORRECTUMIS' { container = 'oras://community.wave.seqera.io/library/fgbio:2.5.21--1afc8befe439164b' } }
process { withName: 'FGBIO_FASTQTOBAM' { container = 'oras://community.wave.seqera.io/library/fgbio:2.5.21--1afc8befe439164b' } }
process { withName: 'FGBIO_FILTERCONSENSUSREADS' { container = 'oras://community.wave.seqera.io/library/fgbio_samtools:b4fdf6d47eb1eb4a' } }
process { withName: 'FGBIO_GROUPREADSBYUMI' { container = 'oras://community.wave.seqera.io/library/fgbio:2.5.21--1afc8befe439164b' } }
process { withName: 'MULTIQC' { container = 'oras://community.wave.seqera.io/library/multiqc:1.35--c680f2aea25ccec2' } }
