process { withName: 'ALIGN_BAM' { container = 'oras://community.wave.seqera.io/library/fgbio_bwa_samtools:b612d5cd7a652862' } }
process { withName: 'FASTQC' { container = 'oras://community.wave.seqera.io/library/fastqc:0.12.1--127a87fc06499035' } }
process { withName: 'FGBIO_CALLANDFILTERDUPLEXCONSENSUSREADS' { container = 'oras://community.wave.seqera.io/library/fgbio:2.5.21--61a21b7736fed99a' } }
process { withName: 'FGBIO_CALLANDFILTERMOLECULARCONSENSUSREADS' { container = 'oras://community.wave.seqera.io/library/fgbio:2.5.21--61a21b7736fed99a' } }
process { withName: 'FGBIO_CALLDDUPLEXCONSENSUSREADS' { container = 'oras://community.wave.seqera.io/library/fgbio:2.5.21--61a21b7736fed99a' } }
process { withName: 'FGBIO_CALLMOLECULARCONSENSUSREADS' { container = 'oras://community.wave.seqera.io/library/fgbio:2.5.21--61a21b7736fed99a' } }
process { withName: 'FGBIO_COLLECTDUPLEXSEQMETRICS' { container = 'oras://community.wave.seqera.io/library/fgbio:2.5.21--61a21b7736fed99a' } }
process { withName: 'FGBIO_CORRECTUMIS' { container = 'oras://community.wave.seqera.io/library/fgbio:2.5.21--61a21b7736fed99a' } }
process { withName: 'FGBIO_FASTQTOBAM' { container = 'oras://community.wave.seqera.io/library/fgbio:2.5.21--61a21b7736fed99a' } }
process { withName: 'FGBIO_FILTERCONSENSUSREADS' { container = 'oras://community.wave.seqera.io/library/fgbio_samtools:bdd8d3bb0416659a' } }
process { withName: 'FGBIO_GROUPREADSBYUMI' { container = 'oras://community.wave.seqera.io/library/fgbio:2.5.21--61a21b7736fed99a' } }
process { withName: 'MULTIQC' { container = 'oras://community.wave.seqera.io/library/multiqc:1.35--c0468833d65b2f81' } }
