process { withName: 'ALIGN_BAM' { container = 'community.wave.seqera.io/library/fgbio_bwa_samtools:fef72c31e6e94318' } }
process { withName: 'FASTQC' { container = 'community.wave.seqera.io/library/fastqc:0.12.1--e455e32f745abe68' } }
process { withName: 'FGBIO_CALLANDFILTERDUPLEXCONSENSUSREADS' { container = 'community.wave.seqera.io/library/fgbio:2.5.21--561e291fd356d057' } }
process { withName: 'FGBIO_CALLANDFILTERMOLECULARCONSENSUSREADS' { container = 'community.wave.seqera.io/library/fgbio:2.5.21--561e291fd356d057' } }
process { withName: 'FGBIO_CALLDDUPLEXCONSENSUSREADS' { container = 'community.wave.seqera.io/library/fgbio:2.5.21--561e291fd356d057' } }
process { withName: 'FGBIO_CALLMOLECULARCONSENSUSREADS' { container = 'community.wave.seqera.io/library/fgbio:2.5.21--561e291fd356d057' } }
process { withName: 'FGBIO_COLLECTDUPLEXSEQMETRICS' { container = 'community.wave.seqera.io/library/fgbio:2.5.21--561e291fd356d057' } }
process { withName: 'FGBIO_CORRECTUMIS' { container = 'community.wave.seqera.io/library/fgbio:2.5.21--561e291fd356d057' } }
process { withName: 'FGBIO_FASTQTOBAM' { container = 'community.wave.seqera.io/library/fgbio:2.5.21--561e291fd356d057' } }
process { withName: 'FGBIO_FILTERCONSENSUSREADS' { container = 'community.wave.seqera.io/library/fgbio_samtools:9bb31f2fc2d8d1c9' } }
process { withName: 'FGBIO_GROUPREADSBYUMI' { container = 'community.wave.seqera.io/library/fgbio:2.5.21--561e291fd356d057' } }
process { withName: 'MULTIQC' { container = 'community.wave.seqera.io/library/multiqc:1.35--5c84a5000a226ab5' } }
