/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running tests with non-random UMIs
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a test with fixed UMI sets.

    Use as follows:
        nextflow run nf-core/fastquorum -profile test_nonrandom,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name = 'Test non-random UMI profile'
    config_profile_description = 'Test dataset using non-random (fixed) UMIs'

    // Base directory for nf-core/modules test data
    modules_testdata_base_path = 's3://ngi-igenomes/testdata/nf-core/modules/'

    // Input data — samplesheet with umi_file column populated
    input = "https://raw.githubusercontent.com/nf-core/test-datasets/fastquorum/testdata/samplesheets/samplesheet.nonrandom.csv"

    // Genome references
    fasta = "https://raw.githubusercontent.com/nf-core/test-datasets/fastquorum/references/chr17.fa"

    // Use Paired strategy with 0 edits for corrected UMIs in duplex mode
    groupreadsbyumi_strategy = 'Paired'
    groupreadsbyumi_edits = 0
}

validation {
    defaultIgnoreParams = ['genomes', 'modules_testdata_base_path']
}

process {
    resourceLimits = [
        cpus: 2,
        memory: '6.GB',
        time: '6.h',
    ]
}
